<footer th:fragment="footer" id="footer" class="footer light-background">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 mb-3 mb-md-0">
                <div class="widget">
                    <h3 class="widget-heading">Thông tin</h3>
                    <p class="mb-4">
                        Mầm xanh là nơi mang đến cho không gian sống của bạn sự tươi mát và thanh lịch.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ps-lg-5 mb-3 mb-md-0">
                <div class="widget">
                    <h3 class="widget-heading">Khám phá Mầm xanh</h3>
                    <ul class="list-unstyled float-start me-5">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/info">Thông tin trang web</a></li>
                        <li><a href="/user">Tài khoản</a></li>
                        <li><a href="/cart">Giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pl-lg-5">
                <div class="widget">
                    <h3 class="widget-heading">Contact to Mầm xanh</h3>
                    <ul class="list-unstyled social-icons light mb-3">
                        <li>
                            <a href="https://www.facebook.com/phatfioraa" target="_blank"><span class="bi bi-facebook"></span></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/phatphatdinh/" target="_blank"><span class="bi bi-instagram"></span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/phát-phát-đinh-8b4016352" target="_blank"><span class="bi bi-linkedin"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright d-flex flex-column flex-md-row align-items-center justify-content-md-between">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Dinh Phat Phat</strong> <span>All Rights Reserved</span></p>
        </div>
    </div>

</footer>
