<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our stories - Tài khoản</title>

    <!--  Font Be Vietnam Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Vendor Active Template CSS Files -->
    <link th:href="@{/vendor/active_vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/active_vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/vendor/active_vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/vendor/active_vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/active_vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">

    <!-- Main Active Template CSS File -->
    <link th:href="@{/css/active_css/main.css}" rel="stylesheet">

    <!-- CSS File -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font/bee_vietnam_pro.css}">

    <!-- JAVASCRIPT File -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/javascript/alert.js}"></script>
    <script th:src="@{/javascript/user/profile.js}"></script>
    <script th:src="@{/javascript/user/update.js}"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css">

</head>
<body>
<!-- Header -->
<div th:replace="~{layout/header :: header}"></div>

<!-- Page Title -->
<div class="page-title light-background">
    <div class="container">
        <h1>Thông tin</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/">Mầm xanh</a></li>
                <li class="current">Thông tin</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Contact Section -->
<section id="contact" class="contact section">

    <div class="container" data-aos="fade">

        <div class="row gy-5 gx-lg-5">
            <div class="col-lg-4">
                <div class="alert alert-danger" id="alert-failed"></div>
                <div class="alert alert-success" id="alert-ok"></div>
                <div class="info text-center">
                    <img id="avatarPreview" th:src="@{${user.getImagePath() != null ? user.getImagePath() : '/image/user/default.jpg'}}"
                         alt="Avatar" class="avatar" loading="lazy">
                    <br>
                    <input type="file" id="avatarInput" accept="image/*" style="display: none;">
                    <button id="changeAvatarButton" class="btn btn-close-white"><i class="bi bi-pencil flex-shrink-0"> Cập nhật avatar</i></button>
                    <br>
                    <h3 id="email" th:text="${user.getEmail()}"></h3>
                    <button id="logoutButton" class="btn btn-close-white"><i class="bi bi-arrow-return-left flex-shrink-0"> Đăng xuất</i></button>
                </div>
                <p class="mt-5" data-aos="fade-up" th:if="${user != null and user.role == 1}">
                    <a href="/category/create" class="btn btn-get-started"><i class="bi bi-list flex-shrink-0"> Thêm danh mục</i></a>
                    <a href="/product/create" class="btn btn-get-started"><i class="bi bi-tree flex-shrink-0"> Thêm sản phẩm</i></a>
                </p>
            </div>

            <div class="col-lg-8">
                <div class="info" >
                    <form onsubmit="return false">
                    <h3>Thông tin của bạn</h3>
                        <br>
                        <div class="form-group">
                            <label class="form-label" for="name">Tên hiển thị:</label>
                            <input class="form-control" type="text" id="name" name="name" th:value="${user.getName()}">
                        </div>

                        <div class="form-group">
                           <label class="form-label" for="phoneNumber">Số điện thoại:</label>
                            <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" th:value="${user.getPhoneNumber()}">
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="dateOfBirth">Ngày sinh:</label>
                            <input class="form-control" type="date" id="dateOfBirth" name="dateOfBirth" th:value="${user.getDateOfBirth()}">
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="bio">Tiểu sử:</label>
                            <input class="form-control" type="text" id="bio" name="bio" th:value="${user.getBio()}">
                        </div>
                        <button id="updateUserButton" class="btn btn-close-white"><i class="bi bi-save flex-shrink-0"> lưu thông tin</i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5" th:if="${user != null and user.role == 1}">
        <table id="categoryTable" class="hover">
            <thead>
            <tr>
                <th>Mã danh mục</th>
                <th>Tên danh mục</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td><a th:href="@{/category/update/{id}(id=${category.id})}" th:text="${category.getId()}"></a></td>
                <td><a th:href="@{'/category/' + ${category.getName()}}" th:text="${category.getName()}"></a></td>
                <td>
                    <a th:href="@{/category/update/{id}(id=${category.id})}" class="btn-edit">Quản lý danh mục - sản phẩm</a>
                    <br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container mb-5">
        <table id="orderTable" class="hover table table-bordered">
            <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Ngày đặt hàng</th>
                <th>Mã khách hàng</th>
                <th>Tên người nhận</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Chi tiết</th>
                <th>Tình trạng</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${#dates.format(order.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${order.user.id}"></td>
                <td th:text="${order.recipientName}"></td>
                <td th:text="${order.recipientPhoneNumber}"></td>
                <td th:text="${order.shippingAddress}"></td>
                <td>
                    <ul>
                        <li th:each="item : ${order.orderItems}">
                            <span class="ml-1">
                                <div class="row" th:text="${item.product.name}"></div>
                                <div class="row" th:text="${item.quantity} + ' x ' + ${item.price}"></div>
                            </span>

                        </li>
                    </ul>
                </td>
                <td>
                    <th:block th:if="${user.role == 1}">
                        <select class="form-select order-status-select" th:attr="data-id=${order.id}">
                            <option value="ĐANG CHUẨN BỊ" th:selected="${order.status == 'ĐANG CHUẨN BỊ'}">ĐANG CHUẨN BỊ</option>
                            <option value="ĐANG GIAO" th:selected="${order.status == 'ĐANG GIAO'}">ĐANG GIAO</option>
                            <option value="ĐÃ GIAO" th:selected="${order.status == 'ĐÃ GIAO'}">ĐÃ GIAO</option>
                            <option value="TRẢ HÀNG" th:selected="${order.status == 'TRẢ HÀNG'}">TRẢ HÀNG</option>
                        </select>
                    </th:block>
                    <th:block th:if="${user.role != 1}">
                        <span th:text="${order.status}"></span>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



</section><!-- /Contact Section -->



<!-- Footer -->
<div th:replace="~{layout/footer :: footer}"></div>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor Active Template JS Files -->
<script th:src="@{/vendor/active_vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/active_vendor/php-email-form/validate.js}"></script>
<script th:src="@{/vendor/active_vendor/aos/aos.js}"></script>
<script th:src="@{/vendor/active_vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/vendor/active_vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/vendor/active_vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/vendor/active_vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/vendor/active_vendor/isotope-layout/isotope.pkgd.min.js}"></script>

<!-- Main Active Template JS File -->
<script th:src="@{/javascript/active_js/main.js}"></script>

</body>
</html>