<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mầm xanh - Trang chủ</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
    <!--  Font Be Vietnam Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Vendor Active Template CSS Files -->
    <link th:href="@{/vendor/active_vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/active_vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/vendor/active_vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/vendor/active_vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/active_vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">

    <!-- Main Active Template CSS File -->
    <link th:href="@{/css/active_css/main.css}" rel="stylesheet">

    <!-- CSS File -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font/bee_vietnam_pro.css}">

    <!-- JAVASCRIPT File -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/javascript/pagination.js}"></script>

</head>
<body>
<!-- Header -->
<div th:replace="~{layout/header :: header}"></div>

<!-- About & Home slides section -->
<section id="about" class="about section">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2" data-aos="fade-up" data-aos-delay="400">
                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                            "loop": true,
                            "speed": 600,
                            "autoplay": {
                                "delay": 5000
                            },
                            "slidesPerView": "auto",
                            "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                            },
                            "breakpoints": {
                                "320": {
                                    "slidesPerView": 1,
                                    "spaceBetween": 40
                                },
                                "1200": {
                                    "slidesPerView": 1,
                                    "spaceBetween": 1
                                }
                            }
                        }
                    </script>

                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image-container">
                                <img th:src="@{image/slideshow/1.png}" alt="Image" class="img-fluid" loading="lazy">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container">
                                <img th:src="@{image/slideshow/2.png}" alt="Image" class="img-fluid" loading="lazy">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container">
                                <img th:src="@{image/slideshow/3.png}" alt="Image" class="img-fluid" loading="lazy">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 order-lg-1">
                <span class="section-subtitle" data-aos="fade-up">Mầm xanh xin chào!</span>
                <h1 class="mb-4" data-aos="fade-up">
                    Nơi đây chứa vật liệu làm xanh không gian sống của bạn.
                </h1>
                <p data-aos="fade-up">
                    Cửa hàng kinh doanh sản phẩm cây xanh, chậu đẹp, phân bón,...và hơn thế nữa.
                </p>
                <p class="mt-5" data-aos="fade-up">
                    <a href="/story/create" class="btn btn-get-started">Mua sắm</a>
                </p>
            </div>

        </div>
    </div>
</section><!-- /About Section -->

<!-- Page Title -->
<div class="page-title light-background">
    <div class="container">
        <h1>Mầm xanh</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/">Mầm xanh</a></li>
                <li class="current">Mầm xanh</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Blog Posts 2 Section -->
<section id="blog-posts-2" class="blog-posts-2 section">
    <div class="container">
        <div class="contact">
            <div class="php-email-form">
                <div class="row">
                    <div class="col-md-3">
                        <select id="category-select" class="form-select">
                            <option value="">Tất cả danh mục</option>
                            <!-- JS sẽ chèn thêm các tùy chọn dựa trên categories -->
                        </select>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="name-input" class="form-control" placeholder="Tên sản phẩm">
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="brand-input" class="form-control" placeholder="Thương hiệu">
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="color-input" class="form-control" placeholder="Màu sắc">
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button id="search-button" class="btn bi-search">Tìm sản phẩm</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row gy-5">
            <!-- Products will be added here by javascript-->
        </div>

        <div class="pagination-container">
            <ul class="pagination blog-pagination section" id="pagination">
                <!-- Pagination buttons will add here by javascript/pagination.js-->
            </ul>
        </div>
    </div>
</section><!-- /Blog Posts 2 Section -->

<!-- Footer -->
<div th:replace="~{layout/footer :: footer}"></div>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor Active Template JS Files -->
<script th:src="@{/vendor/active_vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/active_vendor/php-email-form/validate.js}"></script>
<script th:src="@{/vendor/active_vendor/aos/aos.js}"></script>
<script th:src="@{/vendor/active_vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/vendor/active_vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/vendor/active_vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/vendor/active_vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/vendor/active_vendor/isotope-layout/isotope.pkgd.min.js}"></script>

<!-- Main Active Template JS File -->
<script th:src="@{/javascript/active_js/main.js}"></script>
</body>
</html>